apiVersion: 1

datasources:
  - name: jaeger
    type: jaeger
    access: proxy
    orgId: 1
    url: http://jaeger:16686
    basicAuth: false
    isDefault: false

  - name: sweetcorn
    type: jaeger
    access: proxy
    orgId: 1
    url: http://sweetcorn:13579/jaeger
    basicAuth: false
    isDefault: false
